<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124049879-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('set', {'user_id': 'USER_ID'}); // Définir l'ID utilisateur à partir du paramètre user_id de l'utilisateur connecté.
    gtag('config', 'UA-124049879-1');
  </script>
  <!-- Google Tag Manager-->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T9ZH558');</script>
<!-- End Google Tag Manager -->

<title>THP</title>
<link rel="icon" href="../palmtree.png" />
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/button.css">
<link rel="stylesheet" href="css/navbar.css">
<link rel="stylesheet" href="css/cards.css">
<link rel="stylesheet" href="css/tabs.css">
<div class="navbar">
  <ul>
    <div class="div_logo">
      <img class="logo" src="../palmtree.png" alt="palmtree_logo">
    </div>
    <li><a class="l1" href="/home">Home</a></li>
    <li><a class="l1" href="/cursus">Témoignages</a></li>
    <li><a class="l1" href="/contact">Cursus</a></li>
    <div class="position_avatar">
      <img class="avatar" src="../RR+307367.jpg" alt="Anamorphose21_1">
    </div>
  </ul>
</div>


</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9ZH558"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
   <div class="wrapper">
        <input type="radio" name="tab" id="tab-1" checked>
          <label for="tab-1">Qu'est ce qu'on apprend ?</label>
        <input type="radio" name="tab" id="tab-2" checked>
          <label for="tab-2">Est-ce pour moi 🤔 ?</label>
        <input type="radio" name="tab" id="tab-3" checked>
          <label for="tab-3">Pourquoi nous ?</label>
      <div class="content">
        <article class="tab-1">HTML & CSS</br>
Les basiques du developpement web.</br></br>

Ruby</br>
Un langage de programmation simple et puissant.</br></br>

Rails</br>
Le framework le plus cool du net !</br></br>

Javascript</br>
React, Jquery, et autres langages super utiles</br></br>

Et bien plus encore</br>
Maitrisez des outils comme heroku, github, le bash, etc.</br></br></article>
        <article class="tab-2">J'ai envie de découvrir le merveilleux monde du web</br>
Je suis motivé pour bosser et apprendre beaucoup de choses !</br>
Je n'ai pas peur de l'anglais</br>
Je veux changer de carrière...</br></br>
... ou développer une idée</br>
J'ai 2 mois et demi à temps plein pour m'investir à fond</br>
J'adore travailler en groupe, et partager mes connaissances</br></br></article>
        <article class="tab-3">Une communauté qui compte plus de 500 personnes.</br></br>

Un cursus gratuit, intense mais accessible à tous</br></br>

Une pédagogie innovante et ciblée</br></br></article>
      </div>
    </div>
    <div class="newsletter-position-3">
      <form class=“form-inline”>
       <input type=“email” class="button" class= "form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="example@gmail.com">
       <button type=“submit” class= "btn btn-primary mb-2 mr-sm-2" > Newsletter?
       </button>
      </form>
    </div>
</content>
</body>

</html>
