<!DOCTYPE html>
<html>
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124049879-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('set', {'user_id': 'USER_ID'}); // Définir l'ID utilisateur à partir du paramètre user_id de l'utilisateur connecté.
    gtag('config', 'UA-124049879-1');
  </script>
  <!-- Google Tag Manager-->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T9ZH558');</script>
<!-- End Google Tag Manager -->

<title>THP</title>
<link rel="icon" href="../palmtree.png" />
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/button.css">
<link rel="stylesheet" href="css/navbar.css">
<link rel="stylesheet" href="css/cards.css">
<link rel="stylesheet" href="css/tabs.css">
<div class="navbar">
  <ul>
    <div class="div_logo">
      <img class="logo" src="../palmtree.png" alt="palmtree_logo">
    </div>
    <li><a class="l1" href="/home">Home</a></li>
    <li><a class="l1" href="/cursus">Témoignages</a></li>
    <li><a class="l1" href="/contact">Cursus</a></li>
    <div class="position_avatar">
      <img class="avatar" src="../RR+307367.jpg" alt="Anamorphose21_1">
    </div>
  </ul>
</div>


</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9ZH558"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

<header>


<div class="position_btn2">
  <form class=“form-inline”>
   <input type=“email” class="button" class= "form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="jane@gmail.com">
   <button type=“submit” class= "btn btn-primary mb-2 mr-sm-2" > Newsletter?
   </button>
  </form>
</div>

  </header>
  <content>



</body>

</html>
