<!DOCTYPE html>
<html>
<head>

  <!-- Global site tag (gtag.js) - Google Analytics-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124049879-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('set', {'user_id': 'USER_ID'}); // Définir l'ID utilisateur à partir du paramètre user_id de l'utilisateur connecté.
    gtag('config', 'UA-124049879-1');
  </script>
  <!-- Google Tag Manager-->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T9ZH558');</script>
<!-- End Google Tag Manager -->

<title>THP</title>
<link rel="icon" href="../palmtree.png" />
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/button.css">
<link rel="stylesheet" href="css/navbar.css">
<link rel="stylesheet" href="css/cards.css">
<link rel="stylesheet" href="css/tabs.css">
<div class="navbar">
  <ul>
    <div class="div_logo">
      <img class="logo" src="../palmtree.png" alt="palmtree_logo">
    </div>
    <li><a class="l1" href="/home">Home</a></li>
    <li><a class="l1" href="/cursus">Témoignages</a></li>
    <li><a class="l1" href="/contact">Cursus</a></li>

    <div class="position_avatar">
      <img class="avatar" src="../RR+307367.jpg" alt="Anamorphose21_1">
    </div>
  </ul>
</div>

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9ZH558"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<h1>Témoignages</h1>
    <div class="cards">
      <div class="card_1">
       <img class="card_image" src="../card1.jpg" alt="Card_1">
        <div class="container">
          <h4><b>"J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'était également pour moi un moyen d'avoir une meilleure rémunération."</b></h4>
          <h3><b>Juan-Pablo ANGARITA</b></h3>
         </div>
       </div>
       <div class="card_1">
        <img class="card_image" src="../card2.jpg" alt="Card_2">
         <div class="container">
           <h4><b>"En plus de me donner suffisamment de bases en code pour lancer AlgoSki, The Hacking Project m'a réappris à apprendre. Je recommande la formation !"</b></h4>
           <h3><b>Isabelle Bonnet</b></h3>
          </div>
        </div>
        <div class="card_1">
         <img class="card_image" src="../card3.jpg" alt="Card_3">
          <div class="container">
            <h4><b>"En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides."</b></h4>
            <h3><b>Maxime Souillat</b></h3>
         </div>
       </div>
   </div>
   <div class="newsletter-position-2">
     <form class=“form-inline”>
      <input type=“email” class="button" class= "form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="example@gmail.com">
      <button type=“submit” class= "btn btn-primary mb-2 mr-sm-2" > Newsletter?
      </button>
     </form>
   </div>
</body>

</html>
