<h1>Hey <%= @first_name %>,</h1>
<h2>N'oublie pas de repasser sur notre site !</h2>

<br>

<ol>
	<ul>TEST 1</ul>
	<ul>TEST 2</ul>
	<ul>TEST 3</ul>
	<ul>
		<%= link_to "Voir la vidéo", "https://google.com" %>
	</ul>
</ol>

<p>Bye.</p>